<!-- ↓↓ ここから先方コンテンツ編集エリア ↓↓ -->
<link rel="stylesheet" href="/elements/css/style_elements.css">

<div class="product-search-blk">

	<section class="wrap-info">
		<div class="r-info">
			<div class="r-info-inner">
				<h2 class="head-04">
					<img class="info-icon" src="/elements/img/info-icon.png" alt="" />
					商品に関する大切なお知らせ
				</h2>
				<ul>
					<li class="r-info-date">2020年07月15日</li>
					<li class="r-info-txt">
						<a class="border-link" href="/news_release/pdf/20200715.pdf"
							>シーリングファンご愛用のお客様へお知らせとお願い</a
						>
					</li>
					<li class="sp-hide r-info-pdf">PDF:139Kb</li>
				</ul>
			</div>
		</div>
	</section>
	
	<section class="relation-product">
		<h2 class="hdg-lv2">関連コンテンツ</h2>
		<ul>
			<li>
				<a href="/products/gorgeous_advance/">
					<img src="/elements/img/banner_relation01.jpg" alt="" />
					<p class="txt-link">
						<span>GORGEOUS &amp; ADVANCE</span>
					</p>
				</a>
				<p class="txt">
					時代に合わせた新しい豪華さを。上質のインテリアに似合う、かつての豪華さとは異なる洗練を空間に与えます。
				</p>
			</li>
			<li>
				<a href="/products/lcfree-circadian/">
					<img src="/elements/img/banner_relation02.jpg" alt="" />
					<p class="txt-link">
						<span>LC-FREE CIRCADIAN</span>
					</p>
				</a>
				<p class="txt">
					必要な時間に必要な光で生体リズムを整える。室内環境に１日中最適な光環境をもたらすあかり「LC-FREE
					CIRCADIAN/サーカディアン照明」
				</p>
			</li>
			<li>
				<a href="/products/camera/">
					<img src="/elements/img/banner_relation03.jpg" alt="" />
					<p class="txt-link">
						<span>CAMERA × LIGHT</span>
					</p>
				</a>
				<p class="txt">
					エクステリアライトに人検知カメラ機能の追加が可能に。家族の安心を見まもる、新しい照明の登場です。
				</p>
			</li>
		</ul>
	</section>
	
	<section id="product-news">
		<div class="inner">
			<h2 class="normal">新着商品情報</h2>
			<ul class="list-date">
				<li class="multiLink">
					<time>2023年06月12日</time>
					<div class="inner">
						<p class="multiLinkTxt">
							Webサイトリニューアルいたしました。<br />
							総合カタログを発刊しました。
						</p>
						<ul>
							<li>
								<a href="/webcatalog/dpm/vol_193/" target="_blank"
									><span class="link-txt">Webカタログはこちら</span></a
								>
							</li>
						</ul>
					</div>
				</li>
				<li class="multiLink">
					<time>2022年06月13日</time>
					<div class="inner">
						<p class="multiLinkTxt">
							Webサイトリニューアルいたしました。<br />
							総合カタログを発刊しました。
						</p>
					</div>
				</li>
				<li class="multiLink">
					<time>2021年06月14日</time>
					<div class="inner">
						<p class="multiLinkTxt">
							Webサイトリニューアルいたしました。<br />
							総合カタログを発刊しました。
						</p>
					</div>
				</li>
				<li class="multiLink">
					<time>2020年06月22日</time>
					<div class="inner">
						<p class="multiLinkTxt">
							Webサイトリニューアルいたしました。<br />
							総合カタログを発刊しました。
						</p>
					</div>
				</li>
				<li class="multiLink">
					<time>2019年12月20日</time>
					<div class="inner">
						<p class="multiLinkTxt">
							飲食店・ホテル向け&Phi;75・高演色LEDダウンライトを発売しました。
						</p>
						<ul>
							<li>
								<a href="/products/pdf/JR12V-50W.pdf" target="_blank"
									><span class="pdf">商品情報はこちら</span> (PDF：1.4Mb)</a
								>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<ul class="lst-btn">
			<li><a href="/product/news.html">一覧を見る</a></li>
		</ul>
	</section>
	
	<aside class="wrapper separatorline clear">
		<ul class="list-banners columns3">
			<li class="catalog"><a href="/catalog/">カタログ請求</a></li>
			<li class="inquiry">
				<a href="https://www.odelic.co.jp/CGI/inquire/n_inquire.cgi?CATE_ID=0001">お問い合わせ</a>
			</li>
			<li class="support"><a href="/support/">サポート</a></li>
		</ul>
	</aside>
	
	<aside class="wrapper separatorline">
		<ul class="list-banner">
			<li>
				<a href="http://www.mediapress-net.com" target="_blank">
					<img src="/elements/img/banner_mediapress.jpg" width="250" height="60" alt="閲覧・ダウンロード全て無料　MediaPress-Net"/>
				</a>
			</li>
		</ul>
	</aside>

</div>
<!-- ↑↑ ここまで先方コンテンツ編集エリア ↑↑ -->
