<!-- ********************** -->
<!-- 食物アレルギー（除去選択） -->
<!-- ********************** -->
<div class="e-sh-component">
	<label class="label inline">除外アレルゲン</label>
	<button type="button" class="button e-sh-setting modal-inline js-reflect-icon" data-target="modal-select-allergen">
		<span>選択</span>
		<span class="icon is-small is-left"><i class="fas fa-plus-circle"></i></span>
	</button>
	<div class="field">
		<div class="control">
			<!-- 設定選択アレルゲンの表示（jsで選択されているアレルゲンを表示） -->
			<div class="js-view-allergen"></div>
			<input type="hidden" name="f-allergen" value="">
		</div>
	</div>
</div>
