@use "../global" as g;

// パンくず
.c-breadcrumb {
	background-color: var(--color-very-light-gray);
	padding: 0.5rem g.$gutter;
	border-top: 1px solid var(--color-gray-light);
	ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0;

		li {
			font-size: 1rem;
			line-height: 20px;
			margin: 0.5rem 0;
			padding: 0 g.$gutter-half;
			border-left: 1px solid #000;
			&:first-child {
				padding-left: 0;
				border-left: none;
			}

			a {
				color: var(--color-link);
				text-decoration: underline;
				display: inline-block;
				transition: 0.5s;

				&:hover {
					border-color: rgba($color: #000000, $alpha: 1);
				}
			}
		}
	}
}

@include g.sp {
	.c-breadcrumb {
		padding: 0.5rem g.$gutter-half;

		ul{
			li {
				margin: 0.5rem 0;
				padding: 0 g.$gutter-half;
				font-size: 0.8rem;
			}	
		}
	}
}

// 検索サブナビゲーション
.c-search-sub-nav {
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 8px;

		li {
			min-width: 160px;
			a {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: 100%;
				padding: g.$gutter-8 g.$gutter-16;
				border: 1px solid var(--color-medium-gray);
				font-size: 1.4rem;
				line-height: 18px;
			}
			&:first-child {
				margin-left: 0;
			}
			.c-search-sub-nav-group {
				display: flex;
				flex-wrap: wrap;
			}
			small {
				font-size: 1.2rem;
			}
		}
	}
}

@include g.sp {
	.c-search-sub-nav {
		ul {
			li {
				flex: 1;
			}
		}
	}
}
