@use "../global" as g;
// フォーム要素の定義

// フォーム要素
label.c-input-wrap {
	display: flex;
	align-items: center;
	margin: g.$gutter-8 0;
	font-size: 1.4rem;
	cursor: pointer;

	&:not(:last-child) {
		margin-right: g.$gutter-32;
	}
	> input.c-checkbox, input.c-radio {
		margin-right: g.$gutter-8;
	}
}
/* テキストフィールドのカスタムスタイル */
input.c-text, textarea.c-textarea, select.c-select, input.c-checkbox, input.c-radio {
	font-size: 1.1rem;
}
input.c-text {
	width: 100%; /* フル幅 */
	padding: 0.75rem 1rem; /* 内部の余白 */
	background-color: #fff; /* 背景色 */
	border: 1px solid var(--color-medium-gray); /* 枠線 */
	box-sizing: border-box; /* パディングとボーダーを幅に含める */

	&:disabled {
		color: var(--color-medium-gray);
		background-color: var(--color-light-gray);
	}
	&:read-only {
		background-color: var(--color-light-gray);
	}
	&::placeholder {
		color: var(--color-primary-medium);
	}
}
input.c-price {
	position: relative;
	&::before {
		content: "yen";
		position: absolute;
		top: 0;
		left: 0;
	}
}
input.c-type-integer {
	padding-right: 2px;
}

/* テキストエリアのカスタムスタイル */
textarea.c-textarea {
	width: 100%; /* フル幅 */
	line-height: 20px;
	padding: 8px; /* 内部の余白 */
	background-color: #fff; /* 背景色 */
	border: 1px solid var(--color-medium-gray); /* 枠線 */
	box-sizing: border-box; /* パディングとボーダーを幅に含める */

	&:disabled {
		color: var(--color-medium-gray);
		background-color: var(--color-light-gray);
	}
	&:read-only {
		background-color: var(--color-light-gray);
	}
	&::placeholder {
		color: var(--color-medium-gray);
	}
}

/* セレクトボックスのカスタムスタイル */
select.c-select {
	width: 100%;
	line-height: 18px;
	padding: 8px 24px 8px 8px;
	background-color: #fff;
	border: 1px solid var(--color-medium-gray);
	box-sizing: border-box;
	-webkit-appearance: none; /* Chrome, Safari, Opera */
	-moz-appearance: none;/* Firefox */
	appearance: none; /* 標準 */


	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='21.536' height='14.202' viewBox='0 0 21.536 14.202'><path d='M98.851,270.818l10,12,10-12' transform='translate(-98.083 -270.177)' fill='none' stroke='%23707070' stroke-width='3'/></svg>");
	background-repeat: no-repeat;
	background-position: right 6px top 50%, 0 0; /* 矢印の位置調整 */
	background-size: 12px; /* 矢印のサイズ */

	&:disabled {
		color: var(--color-medium-gray);
		background-color: var(--color-light-gray);
	}
	&::placeholder {
		color: var(--color-medium-gray);
	}
}
select.c-select-year {
	width: auto;
	min-width: 120px;
}

/* フォーカス時のスタイル */
input.c-text:focus,
textarea.c-textarea:focus,
select.c-select:focus {
	border-color: var(--color-deep-red); /* フォーカス時の枠線色 */
	outline: none; /* デフォルトのアウトラインを消す */
}
/* チェックボックスのカスタムスタイル */
input.c-checkbox {

}

/* ラジオボタンのカスタムスタイル */
input.c-radio {
	&:checked + * {
		color: var(--color-primary);
	}

}

// title
.c-name {
	font-size: 1.2rem;
}

// block
.c-control {
	margin: 1rem 0 1.5rem;

	label {
		display: flex;
		align-items: center;
		margin: 0.5rem 0;
		cursor: pointer;

		input {
			margin-right: 0.5rem;
		}
	}

}
.c-control-group {
	display: flex;
	align-items: center;
	margin: 1rem 0 1.5rem;

	input, textarea, select, span {
		&:not(:last-child) {
			margin-right: 0.25rem;
		}
	}

	label {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-right: 1.5rem;
		}
		input {
			margin-right: 0.5rem;
		}
	}
}
.c-control-row {
	display: flex;
	margin: g.$gutter-8 0;

	.c-input-wrap {
		&:not(:last-child) {
			margin-right: g.$gutter-8;
		}
	}
}
.c-keyword-control-input {
	width: calc(100% - 120px);
	&:not(:last-child) {
		margin-right: g.$gutter-8;
	}
}
.c-keyword-control-input-group {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	min-width: 180px;

	input, textarea, select {
		margin-bottom: g.$gutter-8;
		&:not(:last-child) {
			margin-right: g.$gutter-8;
		}
	}
	input + select, textarea + select {
		width: 50%;
	}
}

.c-keyword-control-input-pages {
	display: flex;
	// justify-content: space-around;
	align-items: center;
	font-size: 1.4rem;

	input, textarea, select, span {
		margin-bottom: g.$gutter-8;
		&:not(:last-child) {
			margin-right: g.$gutter-8;
		}
	}
	select {
		max-width: 200px;
	}
}

.c-keyword-control-btn {
	.c-button {
		margin-bottom: g.$gutter-8;
	}
	input, textarea, select, span {
		margin-bottom: g.$gutter-8;
	}
}

@include g.sp {
	.c-keyword-control-input {
		width: 100%;
		&:not(:last-child) {
			margin-right: 0;
		}
	}
}

// ボタン
.c-button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	line-height: 18px;
	padding: 8px; /* 内部の余白 */
	background-color: #fff; /* 背景色 */
	border: 1px solid var(--color-medium-gray); /* 枠線 */
	box-sizing: border-box; /* パディングとボーダーを幅に含める */
	font-size: 1.1rem;
	white-space: nowrap;
	cursor: pointer;
	// @include g.hover-effect-opacity;

	&:disabled {
		color: #000;
		background-color: var(--color-light-gray);
		opacity: 0.5;
		cursor: default;
	}
}
.c-button-primary {
	color: #fff;
	background-color: var(--color-dark-gray);
	border-color:  var(--color-dark-gray);
}
.c-button-accent {
	color: #fff;
	background-color: var(--color-deep-red);
	border-color:  var(--color-deep-red);
}
.c-button-search {
	width: 100%;
	display: flex;
	align-items: center;
	color: #fff;
	background-color: var(--color-primary);
	border-color:  var(--color-primary);
	line-height: 1.5;

	svg {
		margin-left: 0.5em;
	}
}

.c-button-submit {
	color: #fff;
	background-color: var(--color-dark-gray);
	border-color:  var(--color-dark-gray);
}

.c-button-red {
	color: #fff;
	background-color: var(--color-deep-red);
	border-color:  var(--color-deep-red);
}

.c-button-clear {}
.c-button-delete {
	color: var(--color-bright-red);

	&:disabled {
		color: var(--color-bright-red);
		background-color: var(--color-light-gray);
		opacity: 0.5;
		cursor: default;
	}
}
.c-button-small {
	font-size: 1.2rem;
	line-height: 12px;
	padding: 4px 8px;
}
.c-button-add {
	background-color: var(--color-light-gray);
	border-color:  var(--color-light-gray);
	font-size: 1.2rem;
	line-height: 12px;
	margin-bottom: g.$gutter-8;
	padding: 4px 8px;
}

.c-genre-search-list-text-only {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	margin: g.$gutter-16 0;
	gap: 2px;
	li {
		height: 100%;
		box-sizing: border-box;
		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 100%;
			background: #fff;
			padding: g.$gutter-8;

			img {
				width: 55px;
				margin: -( g.$gutter-8 ) 0;
			}
		}
	}
}

// 検索結果無し
.c-result-error {
	color: var(--color-bright-red);
	margin: g.$gutter-8 0;

	p {
		color: var(--color-bright-red);
		font-size: 1.4rem;
		font-weight: bold;
	}
}