@use "../global" as g;
// componentの一時作業用ファイル（制作が完了したら基本は空にする）
// 制作が終了したらファイル名をつけて別ファイルとして出す

// T-1.商品情報・検索画面
// T-2.マイリスト一覧画面
// T-3.見積・VA計算画面
// T-4.商品情報検索一覧画面
// T-5.商品詳細画面
// T-6.実例画像画面

// P-1.お問合せ画面
// P-2.カタログ請求画面
// P-3.会員ログイン画面

// 自動改行・改行指定
.c-auto-phrase {
	word-break: keep-all;
	overflow-wrap: anywhere;
	white-space: pre-wrap;
}

// 表示制御
.c-pc-show {
	opacity: 1;
	visibility: visible;
	width: auto;
	height: auto;
}
.c-sp-show {
	opacity: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

@include g.sp {
	.c-pc-show {
		opacity: 0;
		visibility: hidden;
		width: 0;
		height: 0;
	}
	.c-sp-show {
		opacity: 1;
		visibility: visible;
		width: auto;
		height: auto;
	}
}

// タイトル
.c-title-area {
	width: 100%;
	border-bottom: 1px solid var(--color-medium-gray);
	margin-bottom: 1rem;
}
.c-title-01 {
	font-size: 32px;
	font-size: g.clamp-vw(24, 32, 320, 1200);
	text-align: center;
	margin-bottom: 1.5rem;
}
.c-title-02 {
	font-size: 32px;
	font-size: g.clamp-vw(24, 32, 320, 1200);
	padding-bottom: 1rem;
	margin-bottom: 1.5rem;
	border-bottom: 6px solid var(--color-light-gray);
}

.c-title-group-area {
	width: 100%;
	display: flex;
	align-items: baseline;
	margin-bottom: g.$gutter-8;

	> *:not(:last-child) {
		margin-right: g.$gutter-16;
	}
}
.c-title-group-select {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: g.$gutter-8;

	> *:not(:last-child) {
		margin-right: g.$gutter-16;
	}
	> [class^="head"]{
		flex-shrink: 0;
	}
	select {
		margin: g.$gutter-8 0 g.$gutter-8 auto;
	}
}
.c-title-head-group {
	display: flex;
	align-items: center;
}

// lity

// block
.c-common-block {
	&:not(:last-child) {
		margin-bottom: g.$gutter-16;
	}
	.u-justify-end {
		p {
			margin-bottom: g.$gutter-16;
		}
	}
}
// リスト
ul.c-list-basic {
    list-style-type: disc;
    margin-left: g.$gutter-16;

    li {
        margin: 4px 0;
    }
}

// ？？？
.c-item-num {
	margin: g.$gutter-8 0 0;
}

.c-result-info-item {
	display: flex;
	align-items: flex-start;
	dt{
		min-width: 100px;
		color: #fff;
		background: #808080;
		margin-right: g.$gutter-8;
		text-align: center;
	}
	dd{
		&.c-page-num {
			color: var(--color-deep-red);
			font-size: 2rem;
		}
	}
}

.c-result-type-list {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
	gap: 2px;

	@include g.sp {
		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
	}

	li{
		label.c-input-item {
			display: flex;
			height: 100%;
			cursor: pointer;

			input {
				display: none;

				&:checked + span {
					color: var(--color-deep-red);
					background: #fff;
					border-color: var(--color-deep-red);
					font-weight: bold;
				}

				&:disabled + span {
					color: #666;
					background: var(--color-medium-gray);
					border-color: var(--color-medium-gray);
					opacity: 0.5;
				}
			}
			span {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				color: var(--color-dark-gray);
				background: #fff;
				border-top: 1px solid #fff;
				padding: g.$gutter-8;
			}
		}
	}
}

.c-result-choices-table {
	width: 100%;
	margin: -8px 0;

	th, td {
		border-bottom: 1px solid var(--color-light-gray);
		padding: 8px 0;
	}
	th {
		width: 240px;
		padding: 8px 4px;
	}
	td {
		position: relative;
		padding-left: 8px;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			height: calc(100% - 16px);
			border-left: 1px solid var(--color-light-gray);
		}
	}
	tr {
		&:last-child {
			th, td {
				border-bottom: none;
			}
		}
	}
	.c-result-choices-name {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@include g.sp {
	.c-result-choices-table {
		tr {
			display: flex;
			flex-direction: column;
		}

		th, td {
			flex: 1;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
		}
		td {
			margin-bottom: g.$gutter-16;
			&:before {
				display: none;
			}
		}
		.c-result-choices-name {
		}
	}
}

.c-result-choices-list {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 2px;

	li{
		max-width: 240px;
		label.c-input-item {
			display: flex;
			height: 100%;
			cursor: pointer;

			input {
				display: none;

				&:checked + span {
					color: var(--color-deep-red);
					background: #fff;
					border-color: var(--color-deep-red);
					font-weight: bold;
				}

				&:disabled + span {
					color: #666;
					background: var(--color-medium-gray);
					border-color: var(--color-medium-gray);
					opacity: 0.5;
				}
			}
			span {
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				color: var(--color-dark-gray);
				background: #fff;
				border-top: 1px solid #fff;
				padding: 4px g.$gutter-8;
			}
		}
	}
}

.c-reslt-control-sort {
}
.c-reslt-control-select {
	
}
.c-reslt-control-list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: g.$gutter-8 0;
	li {
		a, label {
			border-left: 1px solid var(--color-medium-gray);
			display: flex;
			align-items: center;
			padding: 0 g.$gutter-8;
			cursor: pointer;
		}
		&:first-child {
			a, label {
				padding-left: 0;
				border-left: 0;
			}
		}
		&:last-child {
			a, label {
				padding-right: 0;
			}
		}
	}
}

// 横並びリスト
.c-list-horizontal-inline {
	ul {
		display: flex;
		flex-wrap: wrap;
		li {
			&:not(:first-child) {
				&::before {
					content: "・";
				}
			}
		}
	}
}

// タブ
.c-tab-wrap {
	margin: 2rem 0 0;

	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}
.c-tabs {
	display: flex;
	gap: 1px;
	background-color: var(--color-light-gray);
	padding: 1px 1px 0;

	li {
		flex: 1;
		border-bottom: 1px solid var(--color-light-gray);
		font-size: g.clamp-vw(12, 16, 320, 1200);

		a {
			height: 100%;
			background-color: var(--color-very-light-gray);
			padding: 0.75rem 0.5rem;
			text-align: center;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&.is-active {
			color: var(--color-primary);
			border-bottom-color: #fff;
			a {
				background-color: #fff;
				text-decoration: underline;
				text-decoration-color: var(--color-primary);
				text-decoration-thickness: 2px;
				text-underline-offset: 15px;
				cursor: default;
				pointer-events: none;
			}
		}
		&:not(.is-active) {
			a {
				// @include g.hover-effect-opacity;
			}
		}
	}
}
.c-tab-panel {
	background-color: #fff;
	border: 1px solid var(--color-light-gray);
	border-top: none;
	padding: g.$gutter-8 g.$gutter-16;
	overflow: hidden;
	display: none;

	&.is-active {
		display: block;
	}
}
@include g.sp {
	.c-tabs {
		font-size: 0.9rem;
		li {
			a {
				padding: 0.75rem 0.25rem;
			}
			&.is-active {
				a {
					text-underline-offset: 8px;
	
				}
			}
		}
	}
	.c-tab-panel {
	}
}
.l-top-container {
	.c-tab-wrap {
		max-width: 960px;
		margin: 0 auto;
	}
}

// 検索画面：新着情報
.c-search-news-item {
	display: grid;
	grid-template-columns: 120px 1fr;
	margin: g.$gutter-16 g.$gutter-32;
	gap: g.$gutter-8 g.$gutter-32;

	dt {
	}
	dd {
	}
}
.c-search-news-all {
	margin: g.$gutter-16 g.$gutter-16;
	&:after {
		content: '';
	}
}

@include g.sp {
	.c-search-news-item {
		grid-template-columns: repeat(1, 1fr);
		margin: g.$gutter-8 g.$gutter-16;
		gap: 0 g.$gutter-16;

		dd {
			margin-bottom: g.$gutter-8;
	
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.c-search-news-all {
		margin: g.$gutter-8 g.$gutter-16;
	}
}

.c-search-news-archive {
	max-width: 960px;
	display: grid;
	grid-template-columns: 140px 1fr;
	margin: g.$gutter-16 auto;
	gap: g.$gutter-8 0;
	line-height: 22px;

	dt {
		border-bottom: 1px solid var(--color-light-gray);
		padding: g.$gutter-16 g.$gutter-8;
		padding-right: g.$gutter-16;
	}
	dd {
		border-bottom: 1px solid var(--color-light-gray);
		padding: g.$gutter-16 g.$gutter-8;
	}
}


@include g.sp {
	.c-search-news-archive {
		grid-template-columns: repeat(1, 1fr);
		gap: 0;

		dt {
			border: none;
			padding-bottom: g.$gutter-8;
			padding-right: g.$gutter-8;
		}
		dd {
			padding-top: 0;
		}
	}
	.c-search-news-all {
		margin: g.$gutter-8 g.$gutter-16;
	}
}

// カタログ一覧
.c-search-catalog-item {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: g.$gutter-16;
	margin-bottom: g.$gutter-16;

	.c-search-catalog-item-block {
		background: var(--color-very-light-gray);
		transition: all .5s ease;

		a {
			transition: 0.5s;
			&:hover {
				opacity: 0.4;
			}
		}
	}
	figure {
		display: flex;
		justify-content: center;
		align-items: center;
		aspect-ratio: 1 / 1.39;
		img {
			max-width: 100%;
		}
	}
	.c-catalog-name {
		margin: g.$gutter-8;
	}
	.c-catalog-spec {
		margin: g.$gutter-8;
	}
	.c-catalog-tag {
		margin: g.$gutter-8;
		margin-bottom: 0;
	}
}
span.c-tag-red {
	min-width: 60px;
	color: #fff;
	background: var(--color-bright-red);
	padding: 0 g.$gutter-8;
	display: inline-block;
	text-align: center;
}
span.c-tag-green {
	min-width: 60px;
	color: #fff;
	background: var(--color-bright-green);
	padding: 0 g.$gutter-8;
	display: inline-block;
	text-align: center;
}
@include g.sp {
	.c-search-catalog-item {
		grid-template-columns: repeat(2, 1fr);
		gap: g.$gutter-16;
		margin-bottom: g.$gutter-16;
	}
}

// グリーン購入法適合マーク
.c-green-mark {
	color: #fff;
	background-color: #00954d;
	width: 1em;
	height: 1em;
	line-height: 1;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-left: 6px;

	&:before {
		content: "G";
		font-size: 1.8rem;
	}
}

// カラムデザイン
.c-colmuns-box {
	display: flex;
	gap: g.$gutter-32;

	.c-column-item {
		flex: 1;
	}
}

// グリッドデザイン
.c-grids-box {
	display: grid;
	gap: g.$gutter-32;

	.c-grid {

	}
}

// メディアクエリ制御
@include g.pc {
	.c-pc-hidden {
		display: none !important;
	}
}
@include g.pc-tablet {
	.c-pc-tablet-hidden {
		display: none !important;
	}
}
@include g.tablet {
	.c-tablet-hidden {
		display: none !important;
	}
}
@include g.sp {
	.c-sp-hidden {
		display: none !important;
	}
}
