    <footer id="globalFooter">
        <nav id="globalFotter_nav">
            <ul class="navItems">
                <li><a href="/index.html">企業TOP</a></li>
                <li><a href="/privacy/access_info.html">アクセス情報の取扱いについて</a></li>
                <li><a href="/privacy/">個人情報保護方針</a></li>
            </ul>
        </nav>

        <div class="contactInformation">
            <div class="contactInformation_name">
                <span id="footerLogo-long"><img src="./assets/img/product/footer_logo.png" alt=""></span>
            </div>
            
            <div class="contactInformation_sns">
            <a href="https://www.facebook.com/PILOT.Corporation/" class="officialFBLink" target="_blank"><span class="iconFB-nega"><span></span></span></a>
            <a href="https://www.instagram.com/pilot_corporation/" class="officialInstaLink" target="_blank"><span class="iconInsta-nega"><span></span></span></a>
            <a href="https://x.com/PilotPenJP" class="officialXLink" target="_blank"><span class="iconX-nega"><span></span></span></a>
            <a href="https://www.youtube.com/user/PILOTCORP1" class="officialYTLink" target="_blank"><span class="iconYT-nega"><span></span></span></a>
            </div>
        </div>

        <p class="copyright">&copy; PILOT Corporation</p>
    </footer>
</div>

</body>
</html>