<%
var title  = title;
var description  = description || "";;
var keywords  = keywords || "";;
var pageId = pageId;
-%>
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="<%- description %>">
    <meta name="keywords" content="<%- keywords %>">
    <title><%- title %>｜PILOT</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="img/gif" href="/favicon.ico" />
    <!-- 商品情報検索CSS-->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <!-- 商品情報検索JS-->
    <script type="text/javascript" src="assets/js/bundle-peoject.js" defer></script>
</head>