@use "../global" as g;
// フッターのスタイル

#globalFooter {
	color: #fff;
	background: var(--color-dark);
	padding: 1rem 2rem;
	content-visibility: auto;

	a {
		color: #fff;
		text-decoration: none;
	}

	#globalFotter_nav {
		text-align: center;
	}
	
	.navItems {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 0 2rem;
	
		li {
			display: flex;
			a {
				display: flex;
				padding: 1em;
			}
			&:not(:first-child){
				&:before {
					content: "";
					width: 1px;
					height: 1em;
					background: #fff;
					margin: auto 0;
				}
			}
		}
	}
	@include g.sp {
		.navItems {
			flex-direction: column;
			align-items: center;
		
			li {
				a {
				}
				&:not(:first-child){
					&:before {
						display: none;
					}
				}
			}
		}
	}

	.contactInformation {
		display: flex;
		justify-content: center;
		align-items: center;
	
		&_name {
			width: 100%;
			max-width: 340px;
			border-right: 1px solid rgba($color: #fff, $alpha: 0.5);
			padding: 20px 40px 20px 0;
			flex-shrink: 0;
		}
	
		&_sns {
			display: flex;
			gap: 20px;
			padding-left: 40px;

			.officialFBLink,
			.officialInstaLink,
			.officialXLink,
			.officialYTLink {
				width: 30px;
				height: 30px;

				span {
					display: block;
					width: 100.67114% !important;
					height: 100% !important;
					background-position: 50% 50%;
					background-repeat: no-repeat;
					background-size: contain;

					&.iconFB-nega		{ background-image: url(../img/product/icon_fb_nega.svg); }
					&.iconInsta-nega	{ background-image: url(../img/product/icon_insta_nega.svg); }
					&.iconX-nega		{ background-image: url(../img/product/icon_x_nega.svg); }
					&.iconYT-nega		{ background-image: url(../img/product/icon_yt_nega.svg); }
				}
			}
		}
	}

	@include g.sp {
		.contactInformation {
			flex-direction: column;
		
			&_name {
				padding: 40px 10px;
				border: none;
				border-top: 1px solid rgba($color: #fff, $alpha: 0.5);
			}
			&_sns {
				padding-left: 0;
			}
		}
	}
	
	#footerLogo-long {
		img {
			width: 100%;
			height: auto;
		}
	}
	
	.copyright {
		text-align: center;
		margin: 40px 0 10px;
	}
}
