@use "../global" as g;

main {
	width: 100%;
	overflow: hidden;
}

.l-contents {
	display: flex;
	flex-direction: row-reverse;

	img {
		max-width: 100%;
		max-height: 100%;
	}
}

// section
.l-section-page {
	margin-bottom: 3rem;
}
.l-section-detail {
	margin-bottom: 3rem;
	overflow: hidden;
	content-visibility: auto;
}

// トップページ：画像
.l-top-image {
	display: flex;
	justify-content: center;

	@include g.pc {
		width: 100%;
		max-width: var(--max-width-container);
		margin-left: auto;
		margin-right: auto;
		padding-left: g.$gutter;
		padding-right: g.$gutter;
	}
	@include g.sp {
		margin-bottom: 0;
	}
	.l-top-image-item {
		position: relative;
		max-width: 1280px;
		flex-grow: 1;
		// アニメーションスタイル
		opacity: 0; /* 初期状態は非表示 */
		transform: translateX(5%);
		animation: fadeInSlide 1s ease-in-out forwards;
		animation-delay: 1s; /* アニメーション開始遅延 */
	
		@keyframes fadeInSlide {
			to {
				transform: translateX(0);
				opacity: 1; /* フェードインして表示 */
			}
		}

		img {
			width: 100%;
		}
	}
	.l-video-container {
		position: relative;
		max-width: 1280px;
		margin-bottom: 1rem;
		flex-grow: 1;
		// アニメーションスタイル
		// opacity: 0; /* 初期状態は非表示 */
		// transform: translateX(5%);
		// animation: fadeInSlide 1s ease-in-out forwards;
		// animation-delay: 1s; /* アニメーション開始遅延 */
		transition-delay: .8s;
		transition: opacity 2s ease-in-out;

		@include g.sp {
			display: none;
		}

		&.is-visible {
			// transform: translateX(0);
			opacity: 1;
		}
	
		@keyframes fadeInSlide {
			to {
				// transform: translateX(0);
				opacity: 1; /* フェードインして表示 */
			}
		}

		video {
			width: auto;
			height: auto;
			max-width: 100%;
			margin: 0 auto;
		}
	}
	.l-image-container {
		position: relative;
		max-width: 1280px;
		flex-grow: 1;
		// アニメーションスタイル
		opacity: 0; /* 初期状態は非表示 */
		transform: translateX(0);
		animation: fadeInSlide 1s ease-in-out forwards;
		animation-delay: 0; /* アニメーション開始遅延 */
		display: none;
	
		@include g.sp {
			display: block;
		}

		@keyframes fadeInSlide {
			to {
				transform: translateX(0);
				opacity: 1; /* フェードインして表示 */
			}
		}

		img {
			width: 100%;
		}
	}
}

// トップページ：検索・カテゴリ商品タグ一覧
.l-top-container, .l-page-container {
	width: 100%;
	max-width: var(--max-width-container);
	margin: 0 auto 3rem;
	padding: g.$gutter g.$gutter 0;
	// overflow: hidden;

	@include g.sp {
		margin-bottom: 1.5rem;
		padding: 1.5rem g.$gutter-half 0;
	}

	&.bg-gray {
		position: relative;
		margin-bottom: 5rem;

		@include g.sp {
			margin-bottom: 2rem;
		}
		&:after {
			content: "";
			background: #eee;
			position: absolute;
			top: 170px;
			left: 0;
			width: 100vw;
			height: calc(100% - 140px);
			margin: 0 calc(50% - 50vw);
			z-index: -1;
		}
	}

	img {
		width: auto;
		max-width: 100%;
	}
}

// 共通利用部分
.l-free-container {
	width: 100%;
	max-width: var(--max-width-container);
	margin: 0 auto;
	padding: g.$gutter-32 g.$gutter-32;

	@include g.sp {
		padding: g.$gutter-16 g.$gutter-16;
	}

	img {
		width: auto;
		max-width: 100%;
	}
}
.l-search-container {
	width: 100%;
	max-width: var(--max-width-container);
	margin: 0 auto;
	padding: g.$gutter-48 g.$gutter-32 0;

	@include g.sp {
		padding: g.$gutter-32 g.$gutter-16 0;
	}

	img {
		width: auto;
		max-width: 100%;
	}
}
.l-search-nav-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: g.$gutter-32;

	@include g.sp {
		flex-direction: column;
	}
}
.l-foot-sub-nav {
	margin: g.$gutter-32 0;

	a {
		color: #000;
		text-decoration: none;
	}
}

// T-1.商品情報・検索画面
.l-search-body {
	margin: g.$gutter-32 auto g.$gutter-64 ;

	.l-search-form {
		display: flex;
		justify-content: space-between;
		overflow: hidden;
	}
	.l-form-wrap-input {
		width: calc(55% - g.$gutter-32);
	}
	.l-form-wrap-genre {
		width: 45%;
	}
	.l-form-inner {
		height: 100%;
		background: var(--color-very-light-gray);
		margin: g.$gutter-8 0;
		overflow: hidden;
	}
	.l-form-box-input {
		margin: g.$gutter-16;
	}
}

.l-search-info {
	width: 100%;
	margin: g.$gutter-16 0;
}
.l-search-info-wrap {
	display: flex;
	justify-content: space-between;
}

@include g.sp {
	.l-search-body {
		.l-search-form {
			flex-direction: column;
		}
		.l-form-wrap-input {
			width: 100%;
			margin-bottom: g.$gutter-32;
		}
		.l-form-wrap-genre {
			width: 100%;
		}
		.l-form-inner {
		}
		.l-form-box-input {
		}
	}
	
	.l-search-info {
	}
	.l-search-info-wrap {
		flex-direction: column;
	}
}

// T-2.マイリスト一覧画面
.l-mylist-body {
	margin: g.$gutter-32 auto g.$gutter-64;
}
.l-mylist-item {}
.l-mylist-button-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: g.$gutter-32;
	margin-bottom: g.$gutter-32;

	@include g.sp {
		justify-content: flex-end;
	}
	.p-control-buttons {
		margin-bottom: 0;
	}
	> div {
		&:nth-child(1) {
			width: 20%;
			flex-shrink: 0;
			flex-grow: 1;
			@include g.sp {
				display: none;
			}
		}
		&:nth-child(2) {
			width: 48%;
			flex-shrink: 0;
			flex-grow: 2;
			@include g.sp {
				width: 100%;
			}
		}
		&:nth-child(3) {
			width: 20%;
			flex-shrink: 0;
			flex-grow: 1;
			@include g.sp {
				width: 50%;
				flex-grow: 0;
			}
		}
	}
}

// T-3.見積・VA計算画面
.l-va-body {
	margin: g.$gutter-32 auto g.$gutter-64;
}
.l-va-form {
	display: flex;
	justify-content: space-between;

	.l-va-form-condition {
		flex: 1;
		max-width: 500px;
		margin-right: g.$gutter-32;
	}
	.l-va-form-info {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	
	@include g.sp {
		flex-direction: column;

		.l-va-form-condition {
			margin-right: 0;
		}
		.l-va-form-info {
		}
	}
}
.l-va-item {}
.l-va-button-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: g.$gutter-32;
	margin-bottom: g.$gutter-32;

	@include g.sp {
		justify-content: flex-end;
	}
	.p-control-buttons {
		margin-bottom: 0;
	}
	> div {
		flex: 1;
	}
}
.l-va-button-area-delete {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: g.$gutter-32;
	margin-bottom: g.$gutter-32;

	.p-control-buttons {
		margin-bottom: 0;
	}
	.c-button {
		padding-left: g.$gutter-32;
		padding-right: g.$gutter-32;
	}
}

@include g.sp {
	.l-va-button-area-delete {
		justify-content: flex-end;

		.p-control-buttons {
			width: 100%;
		}
		.c-button {
			max-width: none;
		}
	}
}

.l-va-info {
	width: 100%;
	margin: g.$gutter-16 0;
}
.l-va-info-wrap {
	display: flex;
	justify-content: space-between;
}

// T-4.商品情報検索一覧画面
.l-result-body {
	margin: g.$gutter-32 auto g.$gutter-64 ;

	.l-result-form {
		// display: flex;
		// flex-direction: column;
		// overflow: hidden;
	}
	.l-form-wrap-nav {
		display: flex;
		width: 100%;
		gap: g.$gutter-8;
		margin-bottom: g.$gutter-16;

		@include g.sp {
			flex-direction: column;
		}
	}
	.l-form-result-page {
		display: flex;
		gap: g.$gutter-8;
		flex-shrink: 0;
	}
	.l-form-result-conditions {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: g.$gutter-8;
	}
	.l-form-wrap-input {
		margin-bottom: g.$gutter-16;
	}
	.l-form-section {
		margin-bottom: g.$gutter-16;
	}
	.l-reslt-item {}
	.l-reslt-button-area {
	}
}

// ページネーション
.p-reslt-pagination {
	margin-bottom: g.$gutter-16;
	ul {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-bottom: g.$gutter-8;
		li {
			a{
				display: inline-block;
				padding: g.$gutter-8 g.$gutter-16;

				@include g.sp {
					padding: g.$gutter-8 g.$gutter-8;
				}
			}
			&.is-active {
				a {
					text-decoration: underline;
				}
			}
		}
	}
	p {
		text-align: center;
	}
}
// 検索結果の説明文
.p-reslt-control-text {
	margin-bottom: g.$gutter-16;
	p {
		text-align: center;
	}
}
// 検索結果の操作コントロール
.p-reslt-control-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: g.$gutter-8;
}

