<!-- ******************************* -->
<!-- タブメニュー -->
<!-- ******************************* -->
<ul id="tabmenu">
	<% if(num == 1){ %><li class="current"><% }else{ %><li><% } %>
	  <a href="/product-help1.html"><span>ご利用の前に</span></a>
	</li>
	<% if(num == 2){ %><li class="current"><% }else{ %><li><% } %>
		<a href="/product-help2.html"><span>会員限定機能</span></a>
	</li>
	<% if(num == 3){ %><li class="current"><% }else{ %><li><% } %>
		<a href="/product-help3.html"><span>検索方法について</span></a>
	</li>
	<% if(num == 4){ %><li class="current"><% }else{ %><li><% } %>
		<a href="/product-help4.html"><span>データダウンロード</span></a>
	</li>
	<% if(num == 5){ %><li class="current"><% }else{ %><li><% } %>
		<a href="/product-help5.html"><span>マイリスト</span></a>
	</li>
	<% if(num == 6){ %><li class="current"><% }else{ %><li><% } %>
		<a href="/product-help6.html"><span>見積・VA計算</span></a>
	</li>
	<!--/#tab-menu-->
</ul>