@charset "UTF-8";
:root {
  --max-width-container: 1344px; /* コンテンツの最大幅 */
  /* 左右の余白：基本は32px */
  --gutter-h: 2rem;
  --gutter-h-small: 1rem;
  /* 上下の余白：基本は8pxの倍数 */
  --gutter-v-8: 8px;
  --gutter-v-16: 16px;
  --gutter-v-24: 24px;
  --gutter-v-32: 32px;
  --gutter-v-40: 40px;
  --gutter-v-48: 48px;
  --gutter-v-56: 56px;
  --gutter-v-64: 64px;
  --gutter-v-72: 72px;
  --gutter-v-80: 80px;
  --gutter-v-88: 88px;
  --gutter-v-96: 96px;
}

/* 中間の灰色 */
/* 明るい灰色 */
/* 非常に明るい灰色 */
:root {
  --color-primary: #002F9C; /* サイトカラー */
  --color-secondary: #023473;
  --color-primary-light: #D7E8F2;
  --color-primary-medium: #7d99d8;
  --color-accent1: #F2CC0F; /* 黄色 */
  --color-accent2: #BE0503; /* 赤 */
  --color-red: #BE0503; /* 赤 */
  --color-dark: #001E5A; /* 紺色 */
  --color-gray-light: #D7D7D7; /* 中間の灰色 */
  --color-gray-lighter: #D7E8F2; /* 明るい灰色 */
  --color-gray-lightest: #F2F2F2; /* 非常に明るい灰色 */
  --color-text: #2F2F2F; /* テキスト */
  --color-background: #FFFFFF; /* 背景 */
  --color-link: #002F9C; /* リンク */
  --color-light-gray: #D7D7D7; /* 薄いグレー */
  --color-very-light-gray: #F2F2F2; /* とても薄いグレー */
}

@media print {
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }
  .no-print {
    display: none !important;
  }
  .r-top-head header, footer {
    display: none;
  }
  .l-detail-body {
    margin: 16px auto;
  }
  .l-search-nav-wrap {
    margin-top: 0;
  }
  .l-search-container {
    padding: 0 16px;
  }
  .c-search-sub-nav, .l-foot-sub-nav, .c-tab-wrap.p-detail-search-wrap {
    display: none;
  }
  @page {
    size: A4;
    margin: 1em;
  }
}